.example
  .example__titles
    h1.example__titles--title
      |複素数
    h2.example__titles--subtitle
      |複素数の定義

  .example__question
    p.example__question--notice
      |数式がうまく表示されない場合はリロードしてください
    h2.example__question--title
      |例題
    .example__question--text
      p.example__question--text-p
        |以下の複素数
        math
          mi z
        |の実部と虚部を求めよ。
      p.example__question--text-p
        math
          mfenced
            mn 1
        math
          mi z
          mo ＝
          mn 3
          mo +
          mn 5
          mi i
      p.example__question--text-p
        math
          mfenced
            mn 2
        math
          mi z
          mo ＝
          mi i


  .example__answer
    h2.example__answer--title
      |解答
    .example__answer--text
      p.example__answer--text-p
        math
          mfenced
            mn 1
        |実部が
        math
          mn 3
        |　虚部が
        math
          mn 5
      p.example__answer--text-p
        math
          mfenced
            mn 2
        |実部が
        math
          mn 0
        |　虚部が
        math
          mn 1

  .example__detail
    h2.example__detail--title
      |考え方
    .example__detail--text
      p.example__detail--text-p
        |複素数とは
        math
          mi z
          mo ＝
          mi x
          mo +
          mi i
          mi y
        |の形で表せる数
        math
          mi z
        |のことである。（
        math
          mi i
        |と
        math
          mi y
        |は順不同。）
      p.example__detail--text-p
        |このとき、
        math
          mi x
        |を
        b
          |実部
        |（
        math
          mi Re
          mi z
        |とも書く）、
        math
          mi y
        |を
        b
          |虚部
        |（
        math
          mi Im
          mi z
        |とも書く）、
        math
          mi i
        |を
        b
          |虚数単位
        |と呼ぶ。

      p.example__detail--text-p
        |実部が
        math
          mn 0
        |や、虚部が
        math
          mn 1
        |のときは
        b
          |省略して書く
        |こともできる。
        math
          mfenced
            mn 2
        |では、どちらも省略されている。この場合、
        b
          |純虚数
        |とも呼ばれる。

      p.example__detail--text-p
        |虚数単位
        math
          mi i
        |の定義は、
        math
          msup
            mi i
            mn 2
          mi ＝
          mi -
          mn 1
        |となる数である。
