.example
  .example__titles
    h1.example__titles--title
      |複素数
    h2.example__titles--subtitle
      |共役な複素数

  .example__question
    p.example__question--notice
      |数式がうまく表示されない場合はリロードしてください
    h2.example__question--title
      |例題
    .example__question--text
      p.example__question--text-p
        math
          mi z
          mo ＝
          mn 2
          mo +
          mn 3
          mi i
        |としたとき、以下の値を求めよ。
      p.example__question--text-e
        math
          mi z
          mover
            mi z
            mo _



  .example__answer
    h2.example__answer--title
      |解答
    .example__answer--text
      p.example__answer--text-p
        math
          mn 13

  .example__detail
    h2.example__detail--title
      |考え方
    .example__detail--text
      p.example__detail--text-p
        math
          mi z
          mo ＝
          mi x
          mo +
          mi i
          mi y
        |としたとき、
        math
          mi x
          mo -
          mi i
          mi y
        |と表せる複素数を
        math
          mi z
        |に対する
        b
          |共役複素数
        |といい、
        math
          mover
            mi z
            mo _
        |と表す。
      p.example__detail--text-p
        |いま、
        math
          mi z
          mo ＝
          mn 2
          mo +
          mn 3
          mi i
        |なので、この共役複素数は
        math
          mover
            mi z
            mo _
          mo ＝
          mn 2
          mo -
          mn 3
          mi i
        |である。以上より、
      p.example__detail--text-p
        math
          mi z
          mover
            mi z
            mo _
          mo ＝
          mfenced
            mrow
              mn 2
              mo +
              mn 3
              mi i
          mfenced
            mrow
              mn 2
              mo -
              mn 3
              mi i
          mo ＝
          mn 4
          mo +
          mn 9
          mo ＝
          mn 13
