// #FFC691
// #C4EBBC
// #DEE4FF
// #D8C1BE
// #FFFEB3

html
  font-size: 10px

body
  font-size: 10px
  margin: 0

a
  text-decoration: none
  color: #000

.header
  margin: 0
  text-align: center
  background-color: #eee
  border-bottom: 1px solid #aaa
  position: fixed
  width: 100%
  top: 0
  &__title
    font-size: 5rem
    padding: 2rem 0

.footer
  background-color: #eee
  border-top: 1px solid #aaa
  height: 300px
